@media all {

    * {
        min-height: 0;
        min-width: 0;
    }

    body {
        background-color: #fff;
        font-family: 'Open Sans', Arial, Helvetica, Verdana, sans-serif;
        font-size: 14px;
        min-width: 300px;
        min-height: 100%;
    }

    h1 {
        color: #96db37;
    }

    a:hover, nav ul li a:hover {
        color: #96db37;
        text-decoration: none;
    }

    #search, #toolbar-top, header, main, menu {
        display: -webkit-box;
        display: -ms-flexbox;
    }

    /* Header */
    header {
        margin: 0;
        padding: 0 0 0 20px;
        box-shadow: 0 2px -4px #494a48;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    #header-logo {
        padding-top: 10px;
        padding-bottom: 5px;
        max-width: 400px;
    }

    #header-logo img {
        max-width: 100%;
    }

    #toolbar-top {
        padding-top: 10px;
        padding-right: 20px;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }

    #toolbar-top, header {
        width: 100%;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        background-color: #FFF;
    }

    /* Search */
    #search {
        display: flex;
        -ms-flex-item-align: end;
    }

    #search form {
        display: block;
    }

    #search input {
        display: inline-block;
        height: 25px;
        border: none;
        padding-left: 8px;
        text-shadow: 0 0 0 #fff;
        color: transparent !important;
    }

    #search-block-form {
        align-items: baseline;
        border: 1px solid #999;
    }

    #search input[type=search] {
        background-color: #fff;
    }

    #search input[type=submit] {
        width: 30px;
        background-color: #999;
        color: #fff;
        cursor: pointer;
        height: 28px;
    }

    #search, menu {
        align-self: flex-end;
        margin-left: auto;
        margin-bottom: 0;
    }

    #search form, body {
        padding: 0;
        margin: 0;
    }

    #search form, #search input, #toolbar-top, *, footer, header, main {
        box-sizing: border-box;
    }

    /* Language Selection */
    #language-selection {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding-right: 10px;
        text-align: right;
        font-size: 20px;
    }

    div#language-selection {
        float: right;
    }

    .lang-dropdown-select-element {
        background-color: #fff;
        color: #999;
        border-color: #fff;
        font-weight: bold;
        border: 0;
        -moz-appearance: none;
    }

    /* Navigation */
    menu {
        display: flex;
        -ms-flex-item-align: end;
        margin-top: 0;
    }

    nav ul {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        list-style-type: disc;
        margin-bottom: 10px;
    }

    nav ul li {
        display: inline;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin-right: 20px;
    }

    nav ul li a {
        color: #666;
        text-decoration: none;
    }

    nav ul .menu-item--active-trail a, nav ul li a.is-active {
        border-bottom: solid 1px #666;
        padding-bottom: .4px;
        border-top: solid 1px #666;
        padding-top: .4px;
    }

    /* Social */
    #social a {
        color: #fff;
        margin-right: 15px;
    }

    #social {
        padding-left: 14px;
        padding-top: 7px;

    }

    span.social {
        display: inline-block;
        background: url('/{{ directory }}/images/social.png') no-repeat;
        overflow: hidden;
        text-indent: -9999px;
        text-align: left;
    }

    span.social--fb {
        background-position: -0px -0px; width: 25px; height: 25px;
    }

    span.social--twitter {
        background-position: -25px -25px; width: 25px; height: 25px;
    }

    span.social--xing {
        background-position: -0px -50px; width: 25px; height: 25px;
    }

    span.social--yt {
        background-position: -25px -50px; width: 25px; height: 25px;
    }

    span.social--instagram {
        background-position: -0px -25px; width: 25px; height: 25px;
    }

    span.social--gh {
        background-position: -25px -0px; width: 25px; height: 25px;
    }

    .spacer {
        height: 40px;
        width: 100%;
        background-color: #494b49;
    }

    /* Content */
    main {
        background-color: #fff;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 20px;
        width: 100%;
    }

    #content {
        -webkit-box-flex: 100;
        -ms-flex: 100;
        flex: 100;
        padding-right: 30px;
        margin: 0 auto;
        min-width: 284px;
    }

    #content * a {
        color: #96db37;
        text-decoration: none;
    }

    #content * a:hover {
        text-decoration: underline;
    }

    .blog-container * .views-field-created, .blog-container * .views-field-field-blog-category, .blog-entry-container * .views-field-created, .blog-entry-container * .views-field-field-blog-category, .content-container * .views-field-created, .content-container * .views-field-field-blog-category, .spacer {
        display: inline-block;
    }

    .views-field-field-category-image * img {
        max-width: 100%;
        height: auto;
    }

    .blog-container * .views-field-body,
    .content-container * .views-field-body {
        padding-right: 30px;
    }

    .blog-container * .views-field-body, .blog-entry-container * .views-field-body, .content-container * .views-field-body, .content-container * .views-field-field-description {
        color: #666;
        font-size: 14px;
        text-align: justify;
    }

    .views-field-field-teaser-image {
        max-width: 320px;
    }

    .blog-container, .blog-entry-container, .content-container {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0;
    }

    .views-field-field-blog-subtitle {
        margin-top: 10px;
        color: #666;
        font-weight: 700;
    }

    .blog-container > .views-row * h2, .blog-entry-container > .views-row * h2, .content-container > .views-row * h2, .node-blog-entry-title {
        font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
        font-size: 18px;
        font-style: normal;
        letter-spacing: -1px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        margin-top: 0;
        box-sizing: content-box;
        font-weight: 700;
    }

    .blog-container > .views-row, .content-container > .views-row, .links-container > .views-row {
        padding: 0 10px 0 0;
        width: 400px;
    }

    #content * h1 {
        padding: 0;
        margin: 0;
    }

    #blog-entry-title {
        display: block;
    }

    /* Infobox */
    #infobox {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        min-width: 260px;
    }

    #infobox * h2 {
        border-left: 1px dotted #96db37;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        letter-spacing: -1px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        margin-bottom: 10px;
        margin-top: 0;
    }

    #infobox * h3 {
        color: #999;
        padding: 0;
        margin: 0;
        font-size: 14px;
    }

    #infobox * h3 a {
        padding-right: 5px;
        color: #999;
        font-size: 14px;
        text-decoration: none;
        font-weight: 300;
    }

    #infobox * h3 a:hover {
        color: #96db37;
        text-decoration: none;
    }

    .block-blog-archive-row, .block-blog-categories-row, .block-blog-newwest-entries-row {
        margin-left: 11px;
    }

    .block-blog-newwest-entries-row {
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #ccc;
    }

    .block-blog-newest-entries-date, .blog-container * .views-field-field-blog-category, .blog-entry-container * .views-field-field-blog-category, .blog-entry-date, .content-container * .views-field-field-blog-category {
        color: #ccc;
        font-weight: 700;
        font-size: 11px;
        margin-bottom: 20px;
    }

    #infobox * .views-element-container {
        margin-bottom: 20px;
    }

    #infobox * h2 {
        padding-left: 10px;
        color: #666;
    }

    span#rss-icon {
        height: 28px;
        width: 28px;
        background: url(/themes/blue/images/sprites.png) 0 88px;
        display: inline-block;
    }

    /* Blog Pages */
    .blog-container > .views-row * h2, .blog-entry-container > .views-row * h2, .content-container > .views-row * h2 {
        height: 30px;
        padding: 5px 0;
        margin-bottom: 10px;
    }

    .node-blog-entry-title {
        display: block !important;
        height: auto;
        padding-top: 5px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .blog-container > .views-row * h2 a, .blog-entry-container > .views-row * h2 a, .content-container > .views-row * h2 a, .node-blog-entry-title {
        color: #96db37;
        text-decoration: none;
    }

    .blog-container > .views-row * h2 a:Hover .blog-entry-container > .views-row * h2 a:Hover, .content-container > .views-row * h2 a:Hover {
        color: #666;
        text-decoration: underline;
    }

    .blog-entry-container > .views-row {
        padding: 0 10px 0 0;
        width: 100%;
    }

    .views-field.views-field-body {
        margin-bottom: 20px;
    }

    .blog-container * .views-field-field-blog-category, .blog-entry-container * .views-field-field-blog-category, .content-container * .views-field-field-blog-category {
        padding-left: 30px;
        font-weight: 700;
    }

    .blog-container * .views-field-field-blog-category a, .blog-entry-container * .views-field-field-blog-category a, .content-container * .views-field-field-blog-category a {
        color: #96db37;
        font-weight: 400;
        text-decoration: none;
    }

    .blog-container * .views-field-field-blog-category a:hover, .blog-entry-container * .views-field-field-blog-category a:hover, .content-container * .views-field-field-blog-category a:hover {
        text-decoration: underline;
    }

    pre, pre * {
        word-break: break-word;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }

    /* Slider */
    .slider-description {
        color: #666;
        font-size: 14px;
        margin-bottom: 40px;
    }

    .slide__caption {
        background-color: rgb(73, 74, 72) !important;
        color: #96db37 !important;
        text-align: left;
    }

    .slick-dots {
        bottom: auto !important;
        top: -25px !important;
    }

    .slide__caption p {
        color: #ffffff !important;
    }

    .slide__media img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .slick-arrow::before {
        color: #333;
    }

    /* Links Page */
    .links-container {
        width: 100%;
        display: block;
        padding: 0;
    }

    .list-links {
        list-style: none;
        padding: 0;
    }

    .list-links li {
        margin-bottom: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .list-headline h2 {
        color: #666;
        font-size: 14px;
    }

    .links-container * h2 {
        padding-top: 20px;
    }

    .views-field-field-url {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 220px;
        flex: 0 0 220px;
    }

    .views-field-field-description {
        min-width: 280px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    /* Search Page */
    .search-help-link,
    .search-page-form,
    label[for="edit-keys"] {
        display: none;
    }

    .search-results-container > ol {
        list-style-type: none;
        padding: 0;
    }

    /* Other */
    .date-icon {
        font-size: 11px !important;
    }

    .views-field-body * img {
        height: auto;
        max-width: 100%;
    }

    #footer-bottom, #footer-left p, #infobox * h2 {
        font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    }

    .hidden {
        display: none;
    }

    .visually-hidden {
        position: absolute !important;
        clip: rect(1px, 1px, 1px, 1px);
        overflow: hidden;
        height: 1px;
        width: 1px;
        word-wrap: normal;
    }
    .visually-hidden.focusable:active,
    .visually-hidden.focusable:focus {
        position: static !important;
        clip: auto;
        overflow: visible;
        height: auto;
        width: auto;
    }

    .invisible {
        visibility: hidden;
    }
}

@media screen and (max-width:1024px)
{
    .blog-container>.views-row * h2,
    .blog-entry-container>.views-row * h2,
    .content-container>.views-row * h2 {
        height: auto;
        padding: 0;
        margin-bottom: 0px;
    }
}

@media screen and (max-width:450px) {
    #language-selection {
        text-align: left;
    }
}

@media screen and (max-width:678px) {
    #content {
        min-width: 320px;
    }
}

@media screen and (max-width:520px) {
    #content {
        min-width: 280px;
        padding-right: 0;
    }

    nav ul li.menu-item--active-trail,nav ul li:hover {
        background-color: #f5f5f5
    }

    .blog-container>.views-row,.blog-entry-container>.views-row {
        padding: 0;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    nav {
        width: 100%
    }

    nav ul {
        padding-left: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    nav ul li {
        padding: 8px 0;
        border-top: 1px solid #999
    }

    .pager ul {
        display: inline;
    }

    .pager ul li {
        border: none;
        padding: 0;
    }

    menu,menu div {
        margin-left: 0;
        padding-left: 0;
        width: 100%
    }

    #header-logo {
        width: 100%;
        max-width: none;
        padding-right: 20px
    }

    #content,
    .blog-container * .views-field-body,
    .content-container * .views-field-body{
        padding-right: 0
    }

    #content {
        padding-bottom: 20px
    }

    nav ul li a {
        margin-left: 5px
    }

    nav ul li a.is-active {
        border: none
    }

    .blog-container>.views-row,.blog-entry-container>.views-row,.content-container>.views-row {
        min-width: 240px;
        width: auto;
        max-width: 100%
    }
}

@media screen and (max-width:339px) {
    main {
        padding-left: 5px;
        padding-right: 5px;
    }
}



