@media print {
    #toolbar-top,
    .addtoany_list,
    #infobox,
    menu,
    #footer-left,
    #footer-right,
    #block-languagedropdownswitcher
    {
        display: none !important;
    }

    .spacer
    {
        height: 1px !important;
        background: #DFDFDF;
        margin-top: 2em;
        background-image: none !important;
    }
}

@media all {

    span#rss-icon {
        height: 28px;
        width: 28px;
        background: url(/themes/blue/images/sprites.png) 0 88px;
        display: inline-block;
    }


    div#language-selection {
        float: right;
    }

    .lang-dropdown-select-element {
        background-color: #fff;
        color: #999;
        border-color: #fff;
        font-weight: bold;
        border: 0;
        -moz-appearance: none;
    }

    p.copyright {
        display: inline-block;
        width: 60%;
        margin: 0;
    }


    *{
        min-height: 0;
        min-width: 0;
    }

    main * footer p {
        width: 100%;
        text-align: right;
        padding: 0;
        margin: 0;
    }

    main * footer p * img {
        float: right;
        margin: 0;
    }

    main * footer {
        background-color: #fff;
        line-height: 50%;
    }

    .views-field-body * img {
        height: auto;
        max-width: 100%;
    }

    .slider-description {
        color: #666;
        font-size: 14px;
        margin-bottom: 40px;
    }

    .slide__caption {
        background-color: rgb(73, 74, 72) !important;
        color: #96db37 !important;
        text-align: left;
    }

    .slick-dots {
        bottom: auto !important;
        top: -25px !important;
    }

    .slide__caption p {
        color: #ffffff !important;
    }

    .slide__media img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .slick-arrow::before {
        color: #333;
    }

    .search-help-link,
    .search-page-form,
    label[for="edit-keys"]{
        display: none;
    }

    .search-results-container > ol{
        list-style-type: none;
        padding: 0;
    }

    #overlay-donations {
        display: none;
        z-index:10000;

        background-color:#494a48;
        color: #f2f2f2;

        width:675px;
        max-width: 100%;
        min-height:200px;
        border:1px solid #666;

        -moz-box-shadow:0 0 90px 5px #000;
        -webkit-box-shadow: 0 0 90px #000;
    }

    .overlay-element-label {
        display: block;
        font-weight: bold;
    }

    .bc-donate {
        font-size: 8px;
        word-break: break-all;
    }

    #overlay-donations * input[type="image"]
    {
        display: block;
        margin: 10px auto;
    }

    #overlay-donations .wrapper {
        text-align: center;
    }

    .overlay,
    #overlay-shade {
        display: none;
    }

    #overlay-shade {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: #000;
    }

    .overlay {
        position: fixed;
        top: 300px;
        left: 0;
        right: 0;

        margin: 0 auto;

        width: 450px;
        min-height: 200px;
        z-index: 10000;
        background-color: #7D7D7D;
        border: 10px solid #CFCFCF;
        color: #fff;
        box-shadow: 0 0 16px #000;
    }
    .ie7 .overlay {
        height: 200px;
    }

    .overlay .wrapper {
        padding: 15px 30px 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }

    .wrapper div {
        flex-grow: 1;
        min-width: 200px;

    }

    #btn-donate {
        cursor: pointer;
    }

    .footer-headline-right {
        text-align: right;
    }

    .footer-button {
        padding: 0 5px 0 5px;
        background-color: #96db37;
        font-weight: normal;
        font-size: 12px;
        color: #474949;
        font-family: inherit;
    }

    .overlay .toolbar {
        padding: 8px;
        line-height: 1;
        text-align: right;
        overflow: hidden;
    }
    .overlay .toolbar a.close {
        display: inline-block;
        *display: inline;
        zoom: 1;
        padding: 0 8px;
        font-size: 12px;
        text-decoration: none;
        font-weight: bold;
        line-height: 18px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        color: #999999;
        background-color: #515151;
    }

    .overlay .toolbar a.close span {
            color: #818181;
    }

    .overlay .toolbar a.close:hover,
    .overlay .toolbar a.close:hover span {
        background-color: #b90900;
        color: #fff;
    }


    #search form,#search input,#toolbar-top,*,footer,header,main {
        box-sizing: border-box
    }

    h1 {
        color: #96db37
    }

    .list-headline h2 {
        color: #666;
        font-size: 14px
    }

    .list-links {
        list-style: none;
        padding: 0
    }

    #infobox * h2,#search input {
        padding-left: 10px;
        color: #666
    }

    .list-links li {
        margin-bottom: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }

    #search,menu {
        align-self: flex-end;
        margin-left: auto;
        margin-bottom: 0
    }

    #search,#toolbar-top,header,main,menu {
        display: -webkit-box;
        display: -ms-flexbox
    }

    .views-field-field-url {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 220px;
        flex: 0 0 220px
    }

    .views-field-field-description {
        min-width: 280px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    #content * a {
        color: #96db37;
        text-decoration: none
    }

    #content * a:hover {
        text-decoration: underline
    }

    .blog-entry-readmore a {
        color: #999!important
    }

    .blog-entry-readmore a:hover {
        text-decoration: none!important
    }

    .links-container * h2 {
        padding-top: 20px
    }

    #search form,body {
        padding: 0;
        margin: 0
    }

    body {
        background-color: #fff;
        font-family: 'Open Sans',Arial,Helvetica,Verdana,sans-serif;
        font-size: 14px;
        min-width: 300px;
        min-height: 100%
    }

    #footer-bottom,#footer-left p,#infobox * h2 {
        font-family: 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif
    }

    a:hover,nav ul li a:hover {
        color: #96db37;
        text-decoration: none
    }

    #toolbar-top,header {
        width: 100%;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        background-color: #FFF
    }

    header {
        margin: 0;
        padding: 0 0 0 20px;
        box-shadow: 0 2px -4px #494a48;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    #toolbar-top {
        padding-top: 10px;
        padding-right: 20px;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse
    }

    #mobile-menu {
        display: none
    }

    #language-selection {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding-right: 10px;
        text-align: right;
        font-size: 20px
    }

    #social a {
        color: #fff;
        margin-right: 15px
    }

    #social {
        font-size: 20px;
        padding-left: 20px;
        padding-top: 6px;
    }

    #search {
        display: flex;
        -ms-flex-item-align: end;
    }

    #search form {
        display: block;
    }

    #search input {
        display: inline-block;
        height: 25px;
        border: none;
    }

    #search-block-form {
        align-items: baseline;
        border: 1px solid #999;
    }

    #search input[type=search] {
        background-color: #fff;
    }

    #search input[type=submit] {
        width: 30px;
        background-color: #999;
        color: #fff;
        cursor: pointer;
        height: 28px;
    }

   #edit-keys {

    }

    #header-logo {
        padding-top: 10px;
        padding-bottom: 5px;
        max-width: 400px
    }

    #header-logo img {
        max-width: 100%
    }

    menu {
        display: flex;
        -ms-flex-item-align: end;
        margin-top: 0
    }

    nav ul {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        list-style-type: disc;
        margin-bottom: 10px
    }

    nav ul li {
        display: inline;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin-right: 20px
    }

    nav ul li a {
        color: #666;
        text-decoration: none
    }

    nav ul .menu-item--active-trail a,nav ul li a.is-active {
        border-bottom: solid 1px #666;
        padding-bottom: .4px;
        border-top: solid 1px #666;
        padding-top: .4px
    }

    main {
        background-color: #fff;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 20px;
        width: 100%
    }

    .blog-container * .views-field-created,.blog-container * .views-field-field-blog-category,.blog-entry-container * .views-field-created,.blog-entry-container * .views-field-field-blog-category,.content-container * .views-field-created,.content-container * .views-field-field-blog-category,.spacer {
        display: inline-block
    }

    #content {
        -webkit-box-flex: 100;
        -ms-flex: 100;
        flex: 100;
        padding-right: 30px;
        margin: 0 auto;
        min-width: 284px;
    }

    #infobox {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        min-width: 260px
    }

    #infobox * h2 {
        border-left: 1px dotted #96db37;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        letter-spacing: -1px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        margin-bottom: 10px;
        margin-top: 0
    }

    #infobox * h3 {
        color: #999;
        padding: 0;
        margin: 0;
        font-size: 14px
    }

    #infobox * h3 a {
        padding-right: 5px;
        color: #999;
        font-size: 14px;
        text-decoration: none;
        font-weight: 300
    }

    #infobox * h3 a:hover {
        color: #96db37;
        text-decoration: none
    }

    .block-blog-archive-row,.block-blog-categories-row,.block-blog-newwest-entries-row {
        margin-left: 11px
    }

    .views-field-field-category-image * img {
        max-width: 100%;
        height: auto
    }

    .block-blog-newwest-entries-row {
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #ccc
    }

    .block-blog-newest-entries-date,.blog-container * .views-field-field-blog-category,.blog-entry-container * .views-field-field-blog-category,.blog-entry-date,.content-container * .views-field-field-blog-category {
        color: #ccc;
        font-weight: 700;
        font-size: 11px;
        margin-bottom: 20px
    }

    .blog-container * .views-field-field-blog-category,.blog-entry-container * .views-field-field-blog-category,.content-container * .views-field-field-blog-category {
        padding-left: 30px;
        font-weight: 700
    }

    .blog-container * .views-field-field-blog-category a,.blog-entry-container * .views-field-field-blog-category a,.content-container * .views-field-field-blog-category a {
        color: #96db37;
        font-weight: 400;
        text-decoration: none
    }

    .blog-container * .views-field-field-blog-category a:hover,.blog-entry-container * .views-field-field-blog-category a:hover,.content-container * .views-field-field-blog-category a:hover {
        text-decoration: underline
    }

    .date-icon {
        font-size: 11px!important
    }

    #infobox * .views-element-container {
        margin-bottom: 20px
    }

    .spacer {
        height: 40px;
        width: 100%;
        background-color: #494b49;
    }

    footer {
        background-color: #494a48;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: #fff;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    footer img {
        display: block;
        margin: 10px auto
    }

    #footer-left ul {
        list-style-type: none;
        color: #909090;
        padding: 0
    }

    #footer-left ul li {
        padding: 10px 0 10px 30px
    }

    .footer-imprint-location {
	background: url(/themes/blue/images/sprites.png) no-repeat top left;
	background-position: 0 5px;
    }

    .footer-imprint-mobile {
	background: url(/themes/blue/images/sprites.png) no-repeat top left;
	background-position: 0 -130px;
    }

    .footer-imprint-mail {
 	background: url(/themes/blue/images/sprites.png) no-repeat top left;
	background-position: 0 -30px;  
   }

    .footer-imprint-name {
    	background: url(/themes/blue/images/sprites.png) no-repeat top left;
    	background-position: 0 -95px;    
    }

    #footer-left,#footer-right {
        font-size: 12px;
        color: #ccc;
        padding: 10px 20px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        min-width: 250px;
    }

    .footer-dark {
        font-size: 11px;
        color: #909090
    }

    .footer-headline {
        font-weight: 600;
        font-size: 14px;
        color: #f2f2f2
    }

    #footer-bottom {
        padding: 20px;
        width: 100%;
        border-top: 1px solid #666;
        font-weight: 400;
        color: #909090;
        font-size: 12px
    }

    .blog-container,.blog-entry-container,.content-container {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0
    }

    .links-container {
        width: 100%;
        display: block;
        padding: 0
    }

    .views-field-field-blog-subtitle {
        margin-top: 10px;
        color: #666;
        font-weight: 700
    }

    .blog-container>.views-row * h2,.blog-entry-container>.views-row * h2,.content-container>.views-row * h2,.node-blog-entry-title {
        font-family: 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;
        font-size: 18px;
        font-style: normal;
        letter-spacing: -1px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        margin-top: 0;
        box-sizing: content-box;
        font-weight: 700
    }

    .blog-container>.views-row,.content-container>.views-row,.links-container>.views-row {
        padding: 0 10px 0 0;
        width: 400px
    }

    .blog-entry-container>.views-row {
        padding: 0 10px 0 0;
        width: 100%
    }

    #content * h1 {
        padding: 0;
        margin: 0
    }

    #blog-entry-title {
        display: block
    }

    .blog-container>.views-row * h2,.blog-entry-container>.views-row * h2,.content-container>.views-row * h2 {
        height: 30px;
        padding: 5px 0;
        margin-bottom: 10px
    }

    .node-blog-entry-title {
        display: block!important;
        height: auto;
        padding-top: 5px;
        padding-bottom: 0;
        margin-bottom: 0
    }

    .blog-container>.views-row * h2 a,.blog-entry-container>.views-row * h2 a,.content-container>.views-row * h2 a,.node-blog-entry-title {
        color: #96db37;
        text-decoration: none
    }

    .blog-container>.views-row * h2 a:Hover .blog-entry-container>.views-row * h2 a:Hover,.content-container>.views-row * h2 a:Hover {
        color: #666;
        text-decoration: underline
    }

    nav.pager {
        width: 100%;
        text-align: center
    }

    .pager ul .is-active a {
        text-decoration: underline
    }

    .blog-container * .views-field-body,
    .content-container * .views-field-body
    {
        padding-right: 30px
    }

    .blog-container * .views-field-body,.blog-entry-container * .views-field-body,.content-container * .views-field-body,.content-container * .views-field-field-description {
        color: #666;
        font-size: 14px;
        text-align: justify
    }

    .views-field-field-teaser-image {
        max-width: 320px
    }

    .views-field.views-field-body {
        margin-bottom: 20px;
    }

    .blog-entry-readmore {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 7px;
        color: #fff;
        background-color: #eaeeef;
        display: table;
        text-align: center
    }

    .blog-entry-readmore a {
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase
    }

    .views-field.views-field-addtoany-share {
        margin-bottom: 20px
    }

    pre,pre * {
        word-break: break-word;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word
    }

    .pager ul {
        font-size: 11.5px;
        padding: 0;
    }

    .pager__item--next {
        margin: 0;
    }
}

@media screen and (max-width:450px) {
    #language-selection {
        text-align: left;
    }
}

@media screen and (max-width:678px) {
    .overlay .wrapper {
        flex-direction: column;
    }

    #content {
        min-width: 320px;
    }
}

@media screen and (max-width:520px) {
    #content {
        min-width: 280px;
        padding-right: 0;
    }

    nav ul li.menu-item--active-trail,nav ul li:hover {
        background-color: #f5f5f5
    }

    .blog-container>.views-row,.blog-entry-container>.views-row {
        padding: 0;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    nav {
        width: 100%
    }

    nav ul {
        padding-left: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    nav ul li {
        padding: 8px 0;
        border-top: 1px solid #999
    }

    .pager ul {
        display: inline;
    }

    .pager ul li {
        border: none;
        padding: 0;
    }

    menu,menu div {
        margin-left: 0;
        padding-left: 0;
        width: 100%
    }

    #header-logo {
        width: 100%;
        max-width: none;
        padding-right: 20px
    }

    #content,
    .blog-container * .views-field-body,
    .content-container * .views-field-body{
        padding-right: 0
    }

    #content {
        padding-bottom: 20px
    }

    nav ul li a {
        margin-left: 5px
    }

    nav ul li a.is-active {
        border: none
    }

    .blog-container>.views-row,.blog-entry-container>.views-row,.content-container>.views-row {
        min-width: 240px;
        width: auto;
        max-width: 100%
    }

    .blog-container>.views-row * h2,
    .blog-entry-container>.views-row * h2,
    .content-container>.views-row * h2 {
        height: auto;
        padding: 0;
        margin-bottom: 0px;
    }
}

@media screen and (max-width:339px) {
    main {
        padding-left: 5px;
        padding-right: 5px;
    }
}

